<section>
    <div class="slider-container">
        <div class="slider position"></div>
    </div>
</section>
<section class="grand-d sau-d">
<section style="background: #4e4e4e; border-radius: 20px;">
    <div class="small-container single-product">
        <div class="rowd">
            <div class="col-2">
                <img src="/images/details/d-p-1.jpg" width="100%" id="ProductImg" alt="">
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img class="small-img" width="100%" src="/images/details/d-p-2.jpg" alt="">
                    </div>
                    <div class="small-img-col">
                        <img class="small-img" width="100%" src="/images/details/d-p-3.jpg" alt="">
                    </div>
                    <div class="small-img-col">
                        <img class="small-img" width="100%" src="/images/details/d-p-1.jpg" alt="">
                    </div>
                    <div class="small-img-col">
                        <img class="small-img" width="100%" src="/images/details/d-p-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <p>Incio / V-Box</p>
                <h1>V-Box Uñas +</h1>
                <h4>$299</h4>

                <h3>Detalles de caja <i class="fa fa-indent"></i></h3>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, sunt eveniet veritatis quis et ea
                    fugit ipsam eos quaerat, ex magnam accusamus nulla adipisci harum. Rerum, impedit. Optio, nisi
                    suscipit.</p>
                    <div class="cense">
                <select name="" id="">
                    <option value="">MAPITA</option>
                    <option value="">Barril</option>
                    <option value="">Prit</option>
                    <option value="">Vividel</option>
                </select>
                <input type="number" value="1">
                </div>
                <a href=""><button class="buttoon_detalles">Agregar a Carrito</button></a>
            </div>
        </div>
    </div>
</section>
    </section>
<script src="/js/detalles.js"></script>