<section class="contentp">
    <header class="content header">
        <h2 class="title">Inicio</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nesciunt minus, odit laudantium repellendus
            tenetur est labore earum quo saepe nemo quisquam ipsam doloribus provident iure voluptates! Reiciendis, sint
            ipsa.
        </p>
        <div class="btn-home">
            <a href="#" class="btn">saber mas</a>
            <a href="#" class="btn">saber mas</a>
        </div>
    </header>
    <section class="grand sau">
        <h2 class="title">Productos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cum eveniet perspiciatis dolore ipsum possimus
            iste reprehenderit quos provident, dignissimos sequi cupiditate. Dolores suscipit quibusdam beatae optio sit
            itaque aperiam.</p>
        <div class="box-container">
            <article class="card" style="background: url(/images/p-6.jpg) center no-repeat;">
                <div class="card_content">
                    <h3 class="card_title">V-BOX Papeleria</h3>
                    <span class="card_subtitle"></span>
                    <p class="card_description">Caja de suscripción de gran variedad de articulos de papeleria.</p>
            </div>
        </article>
            <article class="card" style="background: url(/images/p-5.jpg) center no-repeat;">
                <div class="card_content">
                    <h3 class="card_title">V-BOX Golosinas</h3>
                    <span class="card_subtitle"></span>
                    <p class="card_description">Caja de suscripción de variedad de golosinas del mundo.</p>
            </div>
        </article>
            <article class="card" style="background: url(/images/p-4.jpg) center no-repeat;">
                <div class="card_content">
                    <h3 class="card_title">V-BOX Productos para aplicación uñas</h3>
                    <span class="card_subtitle"></span>
                    <p class="card_description">Caja de suscripción de articulos para aplicación de uñas. </p>
            </div>
        </article>
            
        </div>
    </section>
    <section class="content about ">
        <div class="title-p">El proceso</div>
        <div class="row">
        <div class="col-p">
            <img src="/images/pasos/p-0.png" alt="">
            <div class="title-pr">HAZ TU PEDIDO</div>
            <p>Compra una sola vez o por suscripción algún producto dentro de varbox.com</p>
        </div>
        <div class="col-p">
            <img src="/images/pasos/p-1.png" alt="">
            <div class="title-pr">SE ENVÍA TU CAJA</div>
            <p>El negocio responsable te enviará el primer pedido de tu suscripción a tu domicilio.            </p>
        </div>
        <div class="col-p">
            <img src="/images/pasos/p-2.png" alt="">
            <div class="title-pr">RECIBE TU CAJA</div>
            <p>Recibirás productos durante el tiempo que dure tu suscripción.

            </p>
        </div>
    </div>
    </section>

    <section class="content price">
        <article class="contain">
            <h2 class="title">El proceso</h2>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit odio ipsum eligendi quaerat ipsam a
                itaque tempora voluptates officiis error. Dicta odit laboriosam inventore vero quas voluptas natus
                mollitia eveniet.
            </p>

            <a href="#" class="btn">Saber precio</a>
        </article>
    </section>

    
</body>

</html>
</section>