<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-suto">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Bienvenido {{user.nombre_us}} {{user.app_us}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>