<section>
    <div class="slider-container">
        <div class="slider position"></div>
    </div>
</section>
<!--<section>
    <div class="slides">
        <img src="/images/slide/s-1.png" alt="slide slide-1">
        <img src="/images/slide/s-2.jpg" alt="" class="slide slide-2">
        <img src="/images/slide/s-3.jpg" alt="" class="slide-image">
    </div>
</section>-->
</header>
<section class="grand-p sau-p contentp">
    <h2 class="title">Productos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cum eveniet perspiciatis dolore ipsum possimus
        iste reprehenderit quos provident, dignissimos sequi cupiditate. Dolores suscipit quibusdam beatae optio sit
        itaque aperiam.</p>
    <div class="box-container">
        <article class="card-p" style="background: url(/images/p-1.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Papeleria CH</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de gran variedad de articulos de papeleria.</p>
                <a href="/detalles-1"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-1.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Papeleria M</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de gran variedad de articulos de papeleria.</p>
                <a href="/detalles-2"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-1.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Papeleria G</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de gran variedad de articulos de papeleria. </p>
                <a href="/detalles-3"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-1.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Papeleria +</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de gran variedad de articulos de papeleria. </p>
                <a href="/detalles-4"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-2.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Golosinas CH</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de variedad de golosinas del mundo. </p>
                <a href="/detalles-5"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-2.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Golosinas M</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de variedad de golosinas del mundo. </p>
                <a href="/detalles-6"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-2.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Golosinas G</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de variedad de golosinas del mundo. </p>
                <a href="/detalles-7"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-2.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Golosinas +</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de variedad de golosinas del mundo. </p>
                <a href="/detalles-8"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-3.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Uñas CH</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de articulos para aplicación de uñas. </p>
                <a href="/detalles-9"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-3.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Uñas M</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de articulos para aplicación de uñas. </p>
                <a href="/detalles-10"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-3.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Uñas G</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de articulos para aplicación de uñas. </p>
                <a href="/detalles-11"><button class="buttoon_cards">Comprar</button></a>
            </div>
        </article>
        <article class="card-p" style="background: url(/images/p-3.jpg) center no-repeat;">
            <div class="card_content">
                <h3 class="card_title">V-BOX Uñas +</h3>
                <span class="card_subtitle-p"> $200 </span>
                <p class="card_description">Caja de suscripción de articulos para aplicación de uñas. </p>
                <a href="/detalles-12"><button class="buttoon_cards">Comprar</button></a>
            </div>


    </div>
</section>


</html>