<section class="bg-image bg-light bg-animate">
  <div class="row">
    <div class="col">

    </div>
  </div>
  <div class="col">
    <div class=" align-items-center">
      <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12  col-xl-6">
            <div class="card bg-card" style="border-radius: 25px;">
              <div class="card-body">
                <h2 class="text-center font-register" style="">Registrate</h2>

                <form action="/signup" method="post">

                  <div class="form-floating mb-2">
                    <input type="text" id="floatingInput" name="nombre_us" class="form-control rounded-pill" placeholder="Nombre" autofocus />
                    <label for="floatingInput" class="font-register" class="font-register">Nombre</label>
                  </div>

                  <div class="form-floating mb-2">
                    <input type="text" id="floatingInput" name="app_us" class="form-control rounded-pill"
                      placeholder="Apellido Paterno" />
                    <label for="floatingInput" class="font-register">Apellido Paterno</label>
                  </div>

                  <div class="form-floating mb-2">
                    <input type="text" id="floatingInput" name="apm_us" class="form-control rounded-pill"
                      placeholder="Apellido Materno" />
                    <label for="floatingInput" class="font-register">Apellido Materno</label>
                  </div>

                  <div class="form-floating mb-2">
                    <input type="email" id="floatingInput" name="email_us" class="form-control rounded-pill"
                      placeholder="Correo Electronico" />
                    <label for="floatingInput" class="font-register">Correo Electronico</label>
                  </div>

                  <div class="form-floating mb-2">
                    <input type="password" id="floatingPassword" name="password" class="form-control rounded-pill"
                      placeholder="Contraseña" />
                    <label for="floatingPassword" class="font-register">Contraseña</label>
                  </div>

                  <div class="form-floating mb-2">
                    <input type="password" id="floatingPassword" class="form-control rounded-pill"
                      placeholder="Contraseña" />
                    <label for="floatingPassword" class="font-register">Contraseña</label>
                  </div>


<button class="buttoon">Registrarse</button>

                  <p class="text-center font-register text-muted">¿Ya tienes una cuenta? <a href="#!"
                      class="fw-bold text-body font-register"><u>Login aqui</u></a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="borbujas">
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
  </div>
</section>