<section class="bg-image bg-light bg-animate">
  <div class="row">
    <div class="col">
      
    </div>
  </div>
  <div class="col ms-auto p-4">
    <div class=" align-items-end">
      <div class="container h-100">
        <div class="row justify-content-center align-items-center h-100">
          <div class="col-12  col-xl-6">
            <div class="card mb-3 bg-card" style="border-radius: 25px;">
              <div class="card-body">
                <h2 class="text-center font-register p-4" style="">Iniciar Sesion</h2>

                <form action="/signin" method="post">

                  <div class="form-floating mb-2">
                    <input type="email" id="floatingInput" name="email_us" class="form-control rounded-pill"
                      placeholder="Correo Electronico" autofocus />
                    <label for="floatingInput" class="font-register">Correo Electronico</label>
                  </div>

                  <div class="form-floating mb-2">
                    <input type="password" id="floatingPassword" name="password" class="form-control rounded-pill"
                      placeholder="Contraseña" />
                    <label for="floatingPassword" class="font-register">Contraseña</label>
                  </div>


                  
                    <button href="" class="buttoon">Iniciar Sesion</button>
                  

                  <p class="text-center font-register text-muted">¿No tienes una cuenta? <a href="/signup"
                      class="fw-bold text-body font-register"><u>Registrate aqui</u></a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  <div class="borbujas">
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
    <div class="borbuja"></div>
  </div>
</section>